{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>symblog is the demo website for the Symfony2 <a href="http://tutorial.symblog.dev">symblog tutorial</a>.
        The symblog tutorial will guide you through the process of creating a full
        featured blogging website using Symfony2. The Standard Distribution of
        the Symfony2 framework will be used, which includes the main components
        you will need when building your own websites. The tutorial is split
        into a number of parts, each part covering different aspects of Symfony2
        and its components. This tutorial is aimed to be worked through similar
        to the symfony 1 Jobeet tutorial.</p>
        
        <p>The tutorial has been written by
        <a href="https://twitter.com/#!/dsyph3r">dsyph3r</a> and the source
        code for both the <a href="https://github.com/dsyph3r/symblog-docs">tutorial</a> and this
        <a href="https://github.com/dsyph3r/symblog">website</a> are available on GitHub.
        If you would like to contribute to this tutorial either fork the repository
        on GitHub and send over some pull requests, or contact me via
        <a href="https://twitter.com/#!/dsyph3r">Twitter</a> or my
        <a href="https://github.com/dsyph3r">GitHub profile</a> (Don't use
        the contact form on this website, I won't be notified)</p>
        
    </article>
{% endblock %}
